.container
  .row
    .col-md-8
      .page-header
        %h2
          Invite
        .text-muted
          Invite people to submite late booth

= form_tag(controller: 'invites', action: 'create_late_booth', method: 'post') do |f|
  = text_field_tag 'invite[emails]',"",class: 'form-control', data: {role: 'tagsinput'}
  = submit_tag "Submit", class: 'btn btn-primary'

  :javascript
    $('input').on('beforeItemAdd', function(event) {
      // email validation
      if (!/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(event.item)) {
        event.cancel = true;
      }
    });
